In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ccba = pd.read_csv('/home/bill/moneylaundring/dataset/public_train_x_ccba_full_hashed.csv')
cdtx = pd.read_csv('/home/bill/moneylaundring/dataset/public_train_x_cdtx0001_full_hashed.csv')
custinfo = pd.read_csv('/home/bill/moneylaundring/dataset/public_train_x_custinfo_full_hashed.csv')
dp = pd.read_csv('/home/bill/moneylaundring/dataset/public_train_x_dp_full_hashed.csv')
remit = pd.read_csv('/home/bill/moneylaundring/dataset/public_train_x_remit1_full_hashed.csv')
p_date = pd.read_csv('/home/bill/moneylaundring/dataset/public_x_alert_date.csv')
t_date = pd.read_csv('/home/bill/moneylaundring/dataset/train_x_alert_date.csv')
answer = pd.read_csv('/home/bill/moneylaundring/dataset/train_y_answer.csv')

In [3]:
submit = pd.read_csv('/home/bill/moneylaundring/dataset/submit.csv')

In [4]:
ccba_merge = ccba.groupby('cust_id')
new_ccba = ccba_merge['cycam'].max()
new_ccba = pd.DataFrame(new_ccba)
new_ccba

                                                        cycam
cust_id
0015cc01f553512007705edf855baa16f1b57a16fb107e0...   134614.0
002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca3...   406614.0
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055...   314421.0
0031e83ddef78e57d17ac5dce088627b7745be8ff6cffcb...   202831.0
0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155b...    20238.0
...                                                       ...
ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f114...   208683.0
ffae7fef923c78298cd647a3d573e48cc1404b07ac794a6...   208765.0
ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b9...   203231.0
ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973ca...  1043907.0
ffeb846f2294ec4397f800736dc1e14eb754da5425398d9...   781570.0

[4745 rows x 1 columns]

In [5]:
cinfo_train = custinfo.merge(new_ccba,on='cust_id',how='outer')
cinfo_train = cinfo_train.merge(t_date, on='alert_key')
cinfo_train = cinfo_train.merge(answer, on='alert_key')

In [68]:
cinfo_train

,alert_key,cust_id,risk_rank,occupation_code,total_asset,AGE,cycam,date,sar_flag
0,172802,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1449978.0,7,NaN,6,0
1,174202,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1449978.0,7,NaN,7,0
2,174952,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1449978.0,7,NaN,8,0
3,177764,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1449978.0,7,NaN,12,0
4,178768,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1449978.0,7,NaN,13,0
...,...,...,...,...,...,...,...,...,...
23901,351904,2a6c462095ed3a74cb1d5828ca65315cb5ef30a8b1ea54...,1,12.0,1454.0,5,519218.0,364,0
23902,351926,830b22ee65eef58b2d51d20143f7aeb1ef9bd00b8f0435...,1,9.0,87564.0,4,NaN,364,0
23903,351929,f0d7fb934f97688f16691d9aeb6db22db08e8f8a07e122...,1,4.0,1199.0,3,NaN,364,0
23904,352103,c71eff54ff8d901590eef33bc16dfddd93a2051d7acfe4...,1,19.0,441617.0,4,150623.0,364,0
23905,352111,67a8baafafecb5408944a7d089cda0168967144c1bd41f...,1,17.0,829412.0,6,523405.0,364,0

In [6]:
cinfo_train['cycam'].fillna(0,inplace=True)

In [7]:
cinfo_train.isna().any()

alert_key          False
cust_id            False
risk_rank          False
occupation_code     True
total_asset        False
AGE                False
cycam              False
date               False
sar_flag           False
dtype: bool

In [8]:
cinfo_train['occupation_code'].fillna(0,inplace=True)

In [21]:
submit

      alert_key  probability
0        357307     0.000017
1        376329     0.000324
2        373644     0.000372
3        357668     0.000489
4        354443     0.000526
...         ...          ...
3845     364485     0.997702
3846     363155     0.998987
3847     368710     0.999694
3848     358067     0.999821
3849     372119     0.999978

[3850 rows x 2 columns]

In [100]:
cinfo_test = custinfo.merge(new_ccba, on='cust_id',how='outer')

In [101]:
cinfo_test['cycam'].fillna(0,inplace=True)

In [102]:
cinfo_test.isna().any()

alert_key          False
cust_id            False
risk_rank          False
occupation_code     True
total_asset        False
AGE                False
cycam              False
dtype: bool

In [93]:
p_date

      alert_key  date
0        352342   365
1        352866   365
2        352696   365
3        352330   365
4        352683   365
...         ...   ...
1840     364472   393
1841     364788   393
1842     364673   393
1843     364626   393
1844     364986   393

[1845 rows x 2 columns]

In [103]:
cinfo_test = cinfo_test.merge(p_date, on='alert_key')

In [105]:
cinfo_test['occupation_code'].fillna(0,inplace=True)

In [9]:
cdtx_train = pd.merge(cinfo_train, cdtx, left_on=['cust_id','date'], right_on=['cust_id','date'])
dp_train = pd.merge(cinfo_train, dp, left_on=['cust_id','date'], right_on=['cust_id','tx_date'])
remit_train = pd.merge(cinfo_train, remit, left_on=['cust_id','date'], right_on=['cust_id','trans_date'])

In [106]:
cdtx_test = pd.merge(cinfo_test, cdtx, left_on=['cust_id','date'], right_on=['cust_id','date'])
dp_test = pd.merge(cinfo_test, dp, left_on=['cust_id','date'], right_on=['cust_id','tx_date'])
remit_test = pd.merge(cinfo_test, remit, left_on=['cust_id','date'], right_on=['cust_id','trans_date'])

In [10]:
def db_cr2num(row):
    return 0 if row == 'DB' else 1

In [11]:
dp_train['debit_credit'] = dp_train['debit_credit'].apply(db_cr2num)
dp_train['fiscTxId'].fillna(-1,inplace=True)
dp_train['txbranch'].fillna(-1,inplace=True)

In [108]:
dp_test['debit_credit'] = dp_test['debit_credit'].apply(db_cr2num)
dp_test['fiscTxId'].fillna(-1,inplace=True)
dp_test['txbranch'].fillna(-1,inplace=True)

In [12]:
cdtx_train_new = cdtx_train[['alert_key','risk_rank','occupation_code','total_asset','AGE','country','cur_type','amt','cycam','date','sar_flag']]
dp_train_new = dp_train[['alert_key','risk_rank','occupation_code','total_asset','AGE','debit_credit','tx_time','tx_type','tx_amt','exchg_rate','info_asset_code','fiscTxId','txbranch','cross_bank','ATM','cycam','date','sar_flag']]
remit_train_new = remit_train[['alert_key','risk_rank','occupation_code','total_asset','AGE','trans_no','trade_amount_usd','cycam','date','sar_flag']]

In [109]:
cdtx_test_new = cdtx_test[['alert_key','risk_rank','occupation_code','total_asset','AGE','country','cur_type','amt','cycam','date']]
dp_test_new = dp_test[['alert_key','risk_rank','occupation_code','total_asset','AGE','debit_credit','tx_time','tx_type','tx_amt','exchg_rate','info_asset_code','fiscTxId','txbranch','cross_bank','ATM','cycam','date']]
remit_test_new = remit_test[['alert_key','risk_rank','occupation_code','total_asset','AGE','trans_no','trade_amount_usd','cycam','date']]

In [13]:
cdtx_train_new.isna().any()

alert_key          False
risk_rank          False
occupation_code    False
total_asset        False
AGE                False
country            False
cur_type           False
amt                False
cycam              False
date               False
sar_flag           False
dtype: bool

In [110]:
cdtx_test_new.isna().any()

alert_key          False
risk_rank          False
occupation_code    False
total_asset        False
AGE                False
country            False
cur_type           False
amt                False
cycam              False
date               False
dtype: bool

In [64]:
cdtx_train_new['occupation_code'].unique()

array([ 2., 15., 12., 17., 18.,  1.,  3., 19.,  5., 14., 13.,  9., 16.,
       11.,  4.,  8.,  7.,  0., 10.])

In [55]:
cdtx_train_new['occupation_code'].fillna(0,inplace=True)

/tmp/ipykernel_6044/4174303218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdtx_train_new['occupation_code'].fillna(0,inplace=True)

In [14]:
dp_train_new.isna().any()

alert_key          False
risk_rank          False
occupation_code    False
total_asset        False
AGE                False
debit_credit       False
tx_time            False
tx_type            False
tx_amt              True
exchg_rate         False
info_asset_code    False
fiscTxId           False
txbranch           False
cross_bank         False
ATM                False
cycam              False
date               False
sar_flag           False
dtype: bool

In [111]:
dp_test_new.isna().any()

alert_key          False
risk_rank          False
occupation_code    False
total_asset        False
AGE                False
debit_credit       False
tx_time            False
tx_type            False
tx_amt              True
exchg_rate         False
info_asset_code    False
fiscTxId           False
txbranch           False
cross_bank         False
ATM                False
cycam              False
date               False
dtype: bool

In [15]:
dp_train_new['tx_amt'].fillna(0,inplace=True)

/tmp/ipykernel_1161/1895521225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp_train_new['tx_amt'].fillna(0,inplace=True)

In [112]:
dp_test_new['tx_amt'].fillna(0,inplace=True)

/tmp/ipykernel_6044/204289302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp_test_new['tx_amt'].fillna(0,inplace=True)

In [81]:
remit_train_new.isna().any()

alert_key           False
risk_rank           False
occupation_code     False
total_asset         False
AGE                 False
trans_no            False
trade_amount_usd    False
cycam               False
date                False
sar_flag            False
dtype: bool

In [113]:
remit_test_new.isna().any()

alert_key           False
risk_rank           False
occupation_code     False
total_asset         False
AGE                 False
trans_no            False
trade_amount_usd    False
cycam               False
date                False
dtype: bool

In [77]:
dp_train_new

,alert_key,risk_rank,occupation_code,total_asset,AGE,debit_credit,tx_time,tx_type,tx_amt,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,cycam,date,sar_flag
0,172802,1,19.0,1449978.0,7,1,16,2,1038.0,3.311,20,-1.0,-1.0,0,1,0.0,6,0
1,172802,1,19.0,1449978.0,7,1,15,2,20902.0,33.940,20,-1.0,-1.0,0,1,0.0,6,0
2,172802,1,19.0,1449978.0,7,0,15,2,30119.0,33.680,20,-1.0,-1.0,0,1,0.0,6,0
3,172802,1,19.0,1449978.0,7,0,19,2,26701.0,28.405,20,-1.0,-1.0,0,1,0.0,6,0
4,172802,1,19.0,1449978.0,7,1,16,2,415.0,28.435,20,-1.0,-1.0,0,1,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164025,352111,1,17.0,829412.0,6,0,1,2,3234.0,1.000,16,-1.0,-1.0,0,0,523405.0,364,0
164026,352111,1,17.0,829412.0,6,0,12,2,2987.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0
164027,352111,1,17.0,829412.0,6,0,1,2,719.0,1.000,16,-1.0,-1.0,0,0,523405.0,364,0
164028,352111,1,17.0,829412.0,6,0,12,2,570.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0
164029,352111,1,17.0,829412.0,6,0,12,2,708.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0

In [82]:
cdtx_train_new.to_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_train.csv',index=False)

In [83]:
dp_train_new.to_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_train.csv',index=False)
remit_train_new.to_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_train.csv',index=False)

In [114]:
cdtx_test_new.to_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_test.csv',index=False)

In [115]:
dp_test_new.to_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_test.csv',index=False)
remit_test_new.to_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_test.csv',index=False)