## Score : 0.009157

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cdtx_train = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_train.csv')
dp_train = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_train.csv')
remit_train = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_train.csv')

In [3]:
cdtx_test = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_test_private.csv')
dp_test = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_test_private.csv')
remit_test = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_test_private.csv')

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [5]:
cdtx_X = cdtx_train.iloc[:,1:-1].values
cdtx_y = cdtx_train.iloc[:,-1].values

In [6]:
dp_train

,alert_key,risk_rank,occupation_code,total_asset,AGE,debit_credit,tx_time,tx_type,tx_amt,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,cycam,date,sar_flag
0,172802,1,19.0,1449978.0,7,1,16,2,1038.0,3.311,20,-1.0,-1.0,0,1,0.0,6,0
1,172802,1,19.0,1449978.0,7,1,15,2,20902.0,33.940,20,-1.0,-1.0,0,1,0.0,6,0
2,172802,1,19.0,1449978.0,7,0,15,2,30119.0,33.680,20,-1.0,-1.0,0,1,0.0,6,0
3,172802,1,19.0,1449978.0,7,0,19,2,26701.0,28.405,20,-1.0,-1.0,0,1,0.0,6,0
4,172802,1,19.0,1449978.0,7,1,16,2,415.0,28.435,20,-1.0,-1.0,0,1,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164025,352111,1,17.0,829412.0,6,0,1,2,3234.0,1.000,16,-1.0,-1.0,0,0,523405.0,364,0
164026,352111,1,17.0,829412.0,6,0,12,2,2987.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0
164027,352111,1,17.0,829412.0,6,0,1,2,719.0,1.000,16,-1.0,-1.0,0,0,523405.0,364,0
164028,352111,1,17.0,829412.0,6,0,12,2,570.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0
164029,352111,1,17.0,829412.0,6,0,12,2,708.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0

In [7]:
cdtx_test

,alert_key,risk_rank,occupation_code,total_asset,AGE,country,cur_type,amt,cycam,date
0,368186,3,12.0,342570.0,3,130,47,103.0,113666.0,404
1,373816,1,12.0,87060.0,3,130,47,251.0,30958.0,414
2,365768,1,2.0,786.0,3,130,47,10231.0,122570.0,399
3,368081,1,2.0,786.0,3,130,47,225.0,122570.0,404
4,368850,1,2.0,786.0,3,130,47,107.0,122570.0,405
...,...,...,...,...,...,...,...,...,...,...
1793,377924,1,12.0,1405403.0,4,130,47,1450.0,1516896.0,425
1794,377924,1,12.0,1405403.0,4,130,47,18810.0,1516896.0,425
1795,378240,1,15.0,863667.0,3,130,47,1951.0,308741.0,425
1796,378404,1,9.0,480320.0,5,130,47,98.0,257194.0,425
1797,378407,1,12.0,62072.0,4,130,47,248.0,104013.0,425

In [8]:
dp_X = dp_train.iloc[:,1:-1].values
dp_y = dp_train.iloc[:,-1].values

In [9]:
remit_X = remit_train.iloc[:,1:-1].values
remit_y = remit_train.iloc[:,-1].values

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [11]:
cdtx_train

,alert_key,risk_rank,occupation_code,total_asset,AGE,country,cur_type,amt,cycam,date,sar_flag
0,316973,1,2.0,43580.0,2,130,47,2671.0,174655.0,298,0
1,345532,1,2.0,104804.0,2,130,47,9256.0,174655.0,351,0
2,325899,3,15.0,86994.0,5,130,47,516.0,206512.0,320,0
3,344036,3,15.0,44832.0,5,130,47,45.0,206512.0,350,0
4,344036,3,15.0,44832.0,5,130,47,107.0,206512.0,350,0
...,...,...,...,...,...,...,...,...,...,...,...
48102,351269,1,17.0,33366.0,4,130,47,1467.0,568349.0,363,0
48103,351269,1,17.0,33366.0,4,44,47,1216.0,568349.0,363,0
48104,351654,2,9.0,98128.0,5,130,47,193.0,1013581.0,364,0
48105,351904,1,12.0,1454.0,5,130,47,143.0,519218.0,364,0
48106,352111,1,17.0,829412.0,6,130,47,10.0,523405.0,364,0

In [17]:
# cdtx_X_numeric = ['total_asset','amt','cycam']
# numeric_transformer = Pipeline(steps=[('scaler',StandardScaler())])
# cdtx_X_categorical = ['risk_rank','occupation_code','AGE','country','cur_type','date']
# categorical_transformer = Pipeline(steps=[('onehot',OneHotEncoder())])

In [ ]:
# cdtx_preprocessor = ColumnTransformer(
#     transformers=[]
# )

In [12]:
cdtx_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,3,4,5,8]),('standardscaler',StandardScaler(),[2,6,7])], remainder='passthrough')
cdtx_X = cdtx_ct.fit_transform(cdtx_X)
cdtx_X

<48107x366 sparse matrix of type '<class 'numpy.float64'>'
	with 432963 stored elements in Compressed Sparse Row format>

In [13]:
dp_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,3,4,5,6,8,9,10,11,12,13,15]),('standardscaler',StandardScaler(),[2,7,14])], remainder='passthrough')
dp_X = dp_ct.fit_transform(dp_X)
dp_X

<164030x1874 sparse matrix of type '<class 'numpy.float64'>'
	with 2624480 stored elements in Compressed Sparse Row format>

In [14]:
remit_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,3,4,7]),('standardscaler',StandardScaler(),[2,5,6])], remainder='passthrough')
remit_X = remit_ct.fit_transform(remit_X)
remit_X

<5438x280 sparse matrix of type '<class 'numpy.float64'>'
	with 43504 stored elements in Compressed Sparse Row format>

In [25]:
remit_train

,alert_key,risk_rank,occupation_code,total_asset,AGE,trans_no,trade_amount_usd,cycam,date,sar_flag
0,303465,1,2.0,43580.0,2,0,34612.0,174655.0,279,0
1,304174,1,2.0,43580.0,2,0,34736.0,174655.0,280,0
2,306002,1,2.0,43580.0,2,0,35043.0,174655.0,281,0
3,306617,1,2.0,43580.0,2,0,35409.0,174655.0,284,0
4,307305,1,2.0,43580.0,2,0,35730.0,174655.0,285,0
...,...,...,...,...,...,...,...,...,...,...
3972,346383,2,15.0,379657.0,6,4,10209.0,200183.0,354,0
3973,347497,1,17.0,2044693.0,4,3,26609.0,1018778.0,356,0
3974,347497,1,17.0,2044693.0,4,3,33752.0,1018778.0,356,0
3975,349092,3,9.0,2708369.0,4,4,61348.0,304175.0,358,0
3976,351654,2,9.0,98128.0,5,0,2378.0,1013581.0,364,0

In [15]:
from sklearn.linear_model import LinearRegression
regressor_cdtx = LinearRegression()
regressor_cdtx.fit(cdtx_X, cdtx_y)

LinearRegression()

In [16]:
regressor_dp = LinearRegression()
regressor_dp.fit(dp_X, dp_y)

LinearRegression()

In [17]:
regressor_remit= LinearRegression()
regressor_remit.fit(remit_X, remit_y)

LinearRegression()

In [18]:
cdtx_test_new = cdtx_test.iloc[:,1:].values

In [19]:
dp_test_new = dp_test.iloc[:,1:].values

In [20]:
remit_test_new = remit_test.iloc[:,1:].values

In [21]:
cdtx_test_X = cdtx_ct.transform(cdtx_test_new)

In [22]:
dp_test_X = dp_ct.transform(dp_test_new)

In [23]:
remit_test_X = remit_ct.transform(remit_test_new)

In [24]:
cdtx_test_X

<1798x366 sparse matrix of type '<class 'numpy.float64'>'
	with 14319 stored elements in Compressed Sparse Row format>

In [25]:
dp_test_X

<14839x1874 sparse matrix of type '<class 'numpy.float64'>'
	with 219181 stored elements in Compressed Sparse Row format>

In [26]:
remit_test_X

<629x280 sparse matrix of type '<class 'numpy.float64'>'
	with 4403 stored elements in Compressed Sparse Row format>

In [27]:
cdtx_y_pred = regressor_cdtx.predict(cdtx_test_X)
cdtx_y_pred

array([0.00205722, 0.0049139 , 0.11409533, ..., 0.01695171, 0.00019166,
       0.00204515])

In [28]:
dp_y_pred = regressor_dp.predict(dp_test_X)
dp_y_pred

array([-0.01065525, -0.01022928, -0.01880626, ...,  0.02749924,
        0.05273607,  0.02749831])

In [29]:
remit_y_pred = regressor_remit.predict(remit_test_X)
remit_y_pred

array([ 0.00629879,  0.00628924,  0.006292  ,  0.04420421,  0.04420953,
        0.04421074,  0.04422536,  0.04423284,  0.04412513,  0.04445989,
        0.04434721,  0.04432468,  0.04433942,  0.04440174,  0.03697464,
        0.03742117,  0.03871818,  0.03791397,  0.02309937,  0.02274831,
        0.02405898,  0.02405319,  0.02392793,  0.02407356,  0.02406378,
        0.02409033,  0.02406573,  0.02406478,  0.02295093,  0.02329153,
        0.02335474,  0.04753223,  0.04753448,  0.04752333,  0.04751883,
        0.04751883,  0.05161723,  0.03268977,  0.03269188,  0.03269703,
        0.03278468,  0.03278749,  0.03278749,  0.03268977,  0.03278074,
        0.03278187,  0.03284733,  0.03284439,  0.03285083,  0.03286787,
        0.03286964,  0.03293394,  0.03293766,  0.032947  ,  0.03297515,
        0.03700608,  0.0366657 ,  0.03515712,  0.03516313,  0.03516663,
        0.03534495,  0.03591796,  0.03682573,  0.03518687,  0.03595056,
        0.03590209,  0.03412484,  0.0341209 ,  0.03411973,  0.0341209 ,
        0.03412574,  0.02152038,  0.02151355,  0.0215161 ,  0.02899818,
        0.0290064 ,  0.02900199,  0.02900661,  0.02901777,  0.0296274 ,
        0.02899252,  0.0296274 ,  0.0296274 ,  0.0296274 ,  0.0296274 ,
        0.0296274 ,  0.0296274 ,  0.04703324,  0.02392812,  0.02381834,
        0.02359367,  0.02342672,  0.04308884,  0.04308491,  0.0431003 ,
        0.04310233,  0.01473369,  0.01476274,  0.01474999,  0.01475479,
        0.01475479,  0.01472612,  0.01525468,  0.01528421,  0.01337264,
        0.01509292,  0.01495849,  0.01507104,  0.01532058,  0.01488148,
        0.0153633 ,  0.01336532,  0.05030291,  0.0512109 ,  0.05006596,
        0.05038931,  0.05325695,  0.05028519,  0.04894117,  0.05188102,
        0.05576236,  0.05576599,  0.05599028,  0.05591673,  0.05591219,
        0.05591854,  0.03101429,  0.0310194 ,  0.03114557,  0.03113792,
        0.03114479,  0.02992894,  0.0308601 ,  0.03113018,  0.02934214,
        0.03030672,  0.03023183,  0.03030123,  0.0303894 ,  0.03008914,
        0.03009325,  0.03009429,  0.03010255,  0.03011612,  0.03013614,
        0.02201973,  0.02204023,  0.02208031,  0.02211231,  0.02213683,
        0.02200036,  0.02214245,  0.0231725 ,  0.03176265,  0.03175824,
        0.03176711,  0.03083145,  0.03175379,  0.05442504,  0.05442123,
        0.0544195 ,  0.05442071,  0.05442071,  0.05442504,  0.05442123,
        0.05442175,  0.05442249,  0.05442452,  0.05442988,  0.05420689,
        0.05039211,  0.05038463,  0.05038113,  0.05038363,  0.05038411,
        0.0506726 ,  0.05067381,  0.05067857,  0.05067978,  0.03697458,
        0.03696693,  0.03696338,  0.03696589,  0.03691375,  0.03695936,
        0.03697458,  0.03696036,  0.03696088,  0.03691076,  0.03696589,
        0.03696896,  0.03696996,  0.03697355,  0.03698436,  0.03696584,
        0.02166688,  0.02177619,  0.02176616,  0.02176387,  0.02176616,
        0.02444493,  0.02444621,  0.06263863,  0.06265631,  0.06281959,
        0.06281959,  0.06285046,  0.06239152,  0.007992  ,  0.00972582,
        0.01007991,  0.00985796,  0.00992524,  0.00904142,  0.00895633,
        0.01324417,  0.0092939 ,  0.01044273,  0.0089914 ,  0.01005737,
        0.00945345,  0.01033467,  0.0123543 ,  0.0082552 ,  0.00836179,
        0.00881126,  0.0088302 ,  0.01198871,  0.00853519,  0.04526651,
        0.04526651,  0.04526651,  0.04526651,  0.04526651,  0.04526651,
        0.04504218,  0.04526651,  0.04526651,  0.04504218,  0.04526651,
        0.04504218,  0.04526651,  0.04526651,  0.04526651,  0.04526651,
        0.04526651,  0.04526651,  0.04509364,  0.09106666,  0.09105814,
        0.09105567,  0.09105814,  0.0629747 ,  0.03718728,  0.03719156,
        0.03717115,  0.03716583,  0.03716899,  0.03718728,  0.02853026,
        0.02854527,  0.02855197,  0.02855655,  0.02856801,  0.03120995,
        0.03122755,  0.03122755,  0.03120995,  0.01793871,  0.03997209,
        0.03999289,  0.03999578,  0.03683125,  0.03681612,  0.03681305,
        0.03681616,  0.03544254,  0.0368268 ,  0.00238936,  0.0012404 ,
        0.00143209,  0.00148994,  0.0015142 ,  0.00115029,  0.0013674 ,
        0.00149932,  0.00130682,  0.00108513,  0.00113205,  0.00156202,
        0.02188298,  0.02188168,  0.02198766,  0.02318902,  0.01961481,
        0.02017286,  0.02080666,  0.02382841,  0.02379381,  0.02308002,
        0.02014259,  0.02090183,  0.09020705,  0.09014284,  0.09020982,
        0.09019282,  0.09018521,  0.09017765,  0.0901754 ,  0.09018323,
        0.09017834,  0.09017337,  0.09021505,  0.0907334 ,  0.04024403,
        0.03178505,  0.03178462,  0.03176689,  0.03176979,  0.03115484,
        0.02086689,  0.02086689,  0.02086689,  0.05614312,  0.05613906,
        0.0561899 ,  0.05622402,  0.05596272,  0.00380674,  0.00877188,
        0.03803256,  0.03779777,  0.03778903,  0.0377934 ,  0.04455908,
        0.04468408,  0.04469165,  0.04151296,  0.04149978,  0.04150855,
        0.04149978,  0.04588823,  0.05510211,  0.0550996 ,  0.05511733,
        0.0276246 ,  0.02761958,  0.02761759,  0.03314281,  0.04468375,
        0.04489687,  0.04488377,  0.04469084,  0.04489251,  0.04489359,
        0.04489687,  0.04489796,  0.04490016,  0.04489687,  0.04993522,
        0.04993081,  0.04993518,  0.05030518,  0.04994361,  0.05175547,
        0.05175603,  0.0517649 ,  0.0517863 ,  0.05179871,  0.05032697,
        0.02975724,  0.02975231,  0.02975724,  0.02912825,  0.02912419,
        0.0388431 ,  0.03884266,  0.03884266,  0.05044752,  0.0505119 ,
        0.05052941,  0.05053862,  0.03306704,  0.03306311,  0.03306557,
        0.03307349,  0.03307751,  0.03308399,  0.0334102 ,  0.05197995,
        0.05197995,  0.05197995,  0.05197995,  0.05197995,  0.05197995,
        0.05200239,  0.05238033,  0.05820269,  0.05820053,  0.05820187,
        0.05768473,  0.05819768,  0.05819716,  0.05820105,  0.05820265,
        0.05819919,  0.05835243,  0.05820814,  0.05835861,  0.05821272,
        0.0583702 ,  0.05822371,  0.03763974,  0.03763974,  0.03763974,
        0.03757276,  0.02353817,  0.0236486 ,  0.02358487,  0.02373166,
        0.023585  ,  0.02340447,  0.02362296,  0.02353097,  0.04879481,
        0.04967348,  0.05071508,  0.05068594,  0.05079365,  0.05083066,
        0.05087135,  0.05083386,  0.05091861,  0.05092493,  0.05096289,
        0.05174215,  0.04989656,  0.05112811,  0.05130682,  0.050659  ,
        0.05070726,  0.05684489, -0.01223264,  0.0175391 ,  0.05355086,
        0.05355614,  0.04700912,  0.04701595,  0.02887064,  0.02887176,
        0.02887176,  0.02886999,  0.02887042,  0.02887021,  0.028885  ,
        0.03052693,  0.03026027,  0.03034917,  0.03030472,  0.03052693,
        0.03052693,  0.03052693,  0.03052693,  0.03021586,  0.05582709,
        0.05582709,  0.05582368,  0.05582709,  0.05582709,  0.05582709,
        0.05582709,  0.05581953,  0.05582709,  0.0556812 ,  0.05582709,
        0.05582709,  0.06140417,  0.05977162,  0.04833172,  0.04830966,
        0.04833172,  0.04833172,  0.04833172,  0.04833172,  0.04833172,
        0.06146122,  0.06152283,  0.06458144,  0.03345344,  0.03345344,
        0.03359406,  0.00566093,  0.03426994,  0.03277943,  0.03093096,
        0.03095163,  0.03049801,  0.03052227,  0.03055867,  0.03057087,
        0.03058427,  0.030609  ,  0.0306308 ,  0.06427061,  0.0639592 ,
        0.06395756,  0.06396461,  0.03878249,  0.02050816,  0.0425091 ,
        0.04250469,  0.04250469,  0.04250024,  0.04250469,  0.0425091 ,
        0.04250469,  0.0425091 ,  0.03399883,  0.0027081 ,  0.00260398,
        0.01386093,  0.01284178, -0.00292294,  0.00414916,  0.0041812 ,
        0.00420347,  0.00479334,  0.00412827,  0.00601533,  0.00413139,
        0.00412693,  0.0041607 ,  0.0041438 ,  0.00413389,  0.00643683,
        0.00414548,  0.00418444,  0.03258047,  0.04902577,  0.04313557,
        0.03055649,  0.0101995 ,  0.01019941, -0.00784534,  0.05210926,
        0.05210965,  0.05211605,  0.02761728,  0.03291759,  0.03296277,
        0.05352387,  0.05355175,  0.05356797,  0.06179566,  0.06181512,
        0.06182562,  0.06182748,  0.0618437 ,  0.06179293,  0.06180041,
        0.06183734,  0.06184646,  0.06186415,  0.06179722,  0.03701305,
        0.02745892,  0.01398311,  0.00376929,  0.00867338,  0.00867779,
        0.00869504,  0.00872025,  0.00870676,  0.00871506,  0.05539462,
        0.04197435,  0.04304323,  0.04378384,  0.00554219,  0.03129619,
        0.03068249,  0.03661811,  0.03591249,  0.03822721,  0.05060453,
        0.04767463,  0.0481513 ,  0.04768042,  0.04816029,  0.05066541,
        0.05064829,  0.05528952,  0.05424647,  0.03142215,  0.03188701,
        0.03333087,  0.02465811,  0.0239127 ,  0.02982683,  0.02984587,
        0.05409203,  0.05409424,  0.05410094,  0.05410769,  0.05412468,
        0.05414405,  0.05412935,  0.03949452,  0.03604168,  0.01595046,
        0.06080243,  0.06059047,  0.06168227,  0.05869944,  0.04477333,
        0.05614122,  0.05617265,  0.05473274,  0.05486911,  0.04934546,
        0.01590667,  0.03792235,  0.0378388 ,  0.00874813,  0.03049496,
        0.03439868,  0.04460099,  0.03585374,  0.05301205])

In [30]:
cdtx_ans = pd.DataFrame(cdtx_test['alert_key'])
cdtx_ans['probability'] = cdtx_y_pred
cdtx_ans

      alert_key  probability
0        368186     0.002057
1        373816     0.004914
2        365768     0.114095
3        368081     0.114033
4        368850     0.114032
...         ...          ...
1793     377924     0.012122
1794     377924     0.012230
1795     378240     0.016952
1796     378404     0.000192
1797     378407     0.002045

[1798 rows x 2 columns]

In [31]:
dp_ans = pd.DataFrame(dp_test['alert_key'])
dp_ans['probability'] = dp_y_pred
dp_ans

       alert_key  probability
0         365126    -0.010655
1         365126    -0.010229
2         365126    -0.018806
3         365126    -0.016562
4         365126    -0.009295
...          ...          ...
14834     378428     0.026895
14835     378428     0.027499
14836     378428     0.027499
14837     378428     0.052736
14838     378428     0.027498

[14839 rows x 2 columns]

In [32]:
remit_ans = pd.DataFrame(remit_test['alert_key'])
remit_ans['probability'] = remit_y_pred
remit_ans

     alert_key  probability
0       365126     0.006299
1       368186     0.006289
2       374259     0.006292
3       365195     0.044204
4       365768     0.044210
..         ...          ...
624     377358     0.030495
625     377457     0.034399
626     377933     0.044601
627     378076     0.035854
628     378428     0.053012

[629 rows x 2 columns]

In [33]:
ans = pd.concat([cdtx_ans,dp_ans,remit_ans])

In [34]:
ans

     alert_key  probability
0       368186     0.002057
1       373816     0.004914
2       365768     0.114095
3       368081     0.114033
4       368850     0.114032
..         ...          ...
624     377358     0.030495
625     377457     0.034399
626     377933     0.044601
627     378076     0.035854
628     378428     0.053012

[17266 rows x 2 columns]

In [35]:
ans['probability'] = ans['probability'].abs()

In [36]:
ans_mean = ans.groupby(['alert_key']).max()

In [37]:
ans_mean

           probability
alert_key
365126        0.018806
365166        0.049480
365167        0.026704
365180        0.101197
365186        0.049474
...                ...
378410        0.051447
378414        0.034786
378426        0.087977
378427        0.054129
378428        0.053012

[1698 rows x 1 columns]

In [38]:
submit = pd.read_csv('/home/bill/moneylaundring/dataset/submit.csv')

In [39]:
submit['probability']=0

In [40]:
submit

      alert_key  probability
0        357307            0
1        376329            0
2        373644            0
3        357668            0
4        354443            0
...         ...          ...
3845     364485            0
3846     363155            0
3847     368710            0
3848     358067            0
3849     372119            0

[3850 rows x 2 columns]

In [41]:
submit_new = pd.merge(submit, ans_mean, on=['alert_key'],how='left')

In [42]:
submit_new['probability_y'].fillna(0,inplace=True)

In [43]:
submit_new

      alert_key  probability_x  probability_y
0        357307              0       0.000000
1        376329              0       0.020176
2        373644              0       0.044212
3        357668              0       0.000000
4        354443              0       0.000000
...         ...            ...            ...
3845     364485              0       0.000000
3846     363155              0       0.000000
3847     368710              0       0.055912
3848     358067              0       0.000000
3849     372119              0       0.000000

[3850 rows x 3 columns]

In [44]:
submit_final = submit_new.rename(columns={'probability_y':'probability'})

In [45]:
submit_final = submit_final[['alert_key','probability']]

In [46]:
submit_final = submit_final.sort_values(by ='probability', ascending=False)

In [51]:
submit_final.iloc[0]['probability'] = 1

/tmp/ipykernel_12935/1291266339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit_final.iloc[0]['probability'] = 1

In [58]:
def prob(row):
    return 0.99 if row > 0.99 else row

In [59]:
submit_final['probability'] = submit_final['probability'].apply(prob)

In [60]:
submit_final

      alert_key  probability
1837     365244     0.990000
1244     377964     0.807008
1876     377349     0.352580
3297     365324     0.262421
1989     376904     0.259293
...         ...          ...
1688     364452     0.000000
1689     352330     0.000000
1690     355347     0.000000
1692     358167     0.000000
3849     372119     0.000000

[3850 rows x 2 columns]

In [61]:
submit_final.to_csv('/home/bill/moneylaundring/contest/submissions/linear_regression_private.csv')