In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cdtx_train = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_train.csv')
dp_train = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_train.csv')
remit_train = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_train.csv')

In [3]:
cdtx_test = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/cdtx_test.csv')
dp_test = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/dp_test.csv')
remit_test = pd.read_csv('/home/bill/moneylaundring/contest/processed_dataset/remit_test.csv')

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [5]:
cdtx_X = cdtx_train.iloc[:,1:-1].values
cdtx_y = cdtx_train.iloc[:,-1].values

In [6]:
dp_train

,alert_key,risk_rank,occupation_code,total_asset,AGE,debit_credit,tx_time,tx_type,tx_amt,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,cycam,date,sar_flag
0,172802,1,19.0,1449978.0,7,1,16,2,1038.0,3.311,20,-1.0,-1.0,0,1,0.0,6,0
1,172802,1,19.0,1449978.0,7,1,15,2,20902.0,33.940,20,-1.0,-1.0,0,1,0.0,6,0
2,172802,1,19.0,1449978.0,7,0,15,2,30119.0,33.680,20,-1.0,-1.0,0,1,0.0,6,0
3,172802,1,19.0,1449978.0,7,0,19,2,26701.0,28.405,20,-1.0,-1.0,0,1,0.0,6,0
4,172802,1,19.0,1449978.0,7,1,16,2,415.0,28.435,20,-1.0,-1.0,0,1,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164025,352111,1,17.0,829412.0,6,0,1,2,3234.0,1.000,16,-1.0,-1.0,0,0,523405.0,364,0
164026,352111,1,17.0,829412.0,6,0,12,2,2987.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0
164027,352111,1,17.0,829412.0,6,0,1,2,719.0,1.000,16,-1.0,-1.0,0,0,523405.0,364,0
164028,352111,1,17.0,829412.0,6,0,12,2,570.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0
164029,352111,1,17.0,829412.0,6,0,12,2,708.0,1.000,12,-1.0,-1.0,0,0,523405.0,364,0

In [39]:
cdtx_test

,alert_key,risk_rank,occupation_code,total_asset,AGE,country,cur_type,amt,cycam,date
0,352291,1,17.0,182242.0,5,130,47,5166.0,1033231.0,365
1,352291,1,17.0,182242.0,5,130,47,1426.0,1033231.0,365
2,352298,3,12.0,2422.0,4,130,47,200.0,150206.0,365
3,352298,3,12.0,2422.0,4,130,47,127.0,150206.0,365
4,353041,3,12.0,2422.0,4,130,47,200.0,150206.0,371
...,...,...,...,...,...,...,...,...,...,...
2123,364964,1,17.0,538995.0,4,130,47,530.0,305760.0,393
2124,364977,3,12.0,1104366.0,4,130,47,320.0,416940.0,393
2125,364977,3,12.0,1104366.0,4,130,47,41.0,416940.0,393
2126,364983,1,13.0,1533587.0,2,42,53,2312.0,1706212.0,393
2127,364983,1,13.0,1533587.0,2,65,53,546522.0,1706212.0,393

In [7]:
dp_X = dp_train.iloc[:,1:-1].values
dp_y = dp_train.iloc[:,-1].values

In [8]:
remit_X = remit_train.iloc[:,1:-1].values
remit_y = remit_train.iloc[:,-1].values

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [34]:
cdtx_train

,alert_key,risk_rank,occupation_code,total_asset,AGE,country,cur_type,amt,cycam,date,sar_flag
0,316973,1,2.0,43580.0,2,130,47,2671.0,174655.0,298,0
1,345532,1,2.0,104804.0,2,130,47,9256.0,174655.0,351,0
2,325899,3,15.0,86994.0,5,130,47,516.0,206512.0,320,0
3,344036,3,15.0,44832.0,5,130,47,45.0,206512.0,350,0
4,344036,3,15.0,44832.0,5,130,47,107.0,206512.0,350,0
...,...,...,...,...,...,...,...,...,...,...,...
48102,351269,1,17.0,33366.0,4,130,47,1467.0,568349.0,363,0
48103,351269,1,17.0,33366.0,4,44,47,1216.0,568349.0,363,0
48104,351654,2,9.0,98128.0,5,130,47,193.0,1013581.0,364,0
48105,351904,1,12.0,1454.0,5,130,47,143.0,519218.0,364,0
48106,352111,1,17.0,829412.0,6,130,47,10.0,523405.0,364,0

In [17]:
# cdtx_X_numeric = ['total_asset','amt','cycam']
# numeric_transformer = Pipeline(steps=[('scaler',StandardScaler())])
# cdtx_X_categorical = ['risk_rank','occupation_code','AGE','country','cur_type','date']
# categorical_transformer = Pipeline(steps=[('onehot',OneHotEncoder())])

In [ ]:
# cdtx_preprocessor = ColumnTransformer(
#     transformers=[]
# )

In [10]:
cdtx_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,3,4,5,8]),('standardscaler',StandardScaler(),[2,6,7])], remainder='passthrough')
cdtx_X = cdtx_ct.fit_transform(cdtx_X)
cdtx_X

<48107x366 sparse matrix of type '<class 'numpy.float64'>'
	with 432963 stored elements in Compressed Sparse Row format>

In [11]:
dp_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,3,4,5,6,8,9,10,11,12,13,15]),('standardscaler',StandardScaler(),[2,7,14])], remainder='passthrough')
dp_X = dp_ct.fit_transform(dp_X)
dp_X

<164030x1874 sparse matrix of type '<class 'numpy.float64'>'
	with 2624480 stored elements in Compressed Sparse Row format>

In [12]:
remit_ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(handle_unknown='ignore'),[0,1,3,4,7]),('standardscaler',StandardScaler(),[2,5,6])], remainder='passthrough')
remit_X = remit_ct.fit_transform(remit_X)
remit_X

<5438x280 sparse matrix of type '<class 'numpy.float64'>'
	with 43504 stored elements in Compressed Sparse Row format>

In [25]:
remit_train

,alert_key,risk_rank,occupation_code,total_asset,AGE,trans_no,trade_amount_usd,cycam,date,sar_flag
0,303465,1,2.0,43580.0,2,0,34612.0,174655.0,279,0
1,304174,1,2.0,43580.0,2,0,34736.0,174655.0,280,0
2,306002,1,2.0,43580.0,2,0,35043.0,174655.0,281,0
3,306617,1,2.0,43580.0,2,0,35409.0,174655.0,284,0
4,307305,1,2.0,43580.0,2,0,35730.0,174655.0,285,0
...,...,...,...,...,...,...,...,...,...,...
3972,346383,2,15.0,379657.0,6,4,10209.0,200183.0,354,0
3973,347497,1,17.0,2044693.0,4,3,26609.0,1018778.0,356,0
3974,347497,1,17.0,2044693.0,4,3,33752.0,1018778.0,356,0
3975,349092,3,9.0,2708369.0,4,4,61348.0,304175.0,358,0
3976,351654,2,9.0,98128.0,5,0,2378.0,1013581.0,364,0

In [13]:
from sklearn.linear_model import LinearRegression
regressor_cdtx = LinearRegression()
regressor_cdtx.fit(cdtx_X, cdtx_y)

LinearRegression()

In [19]:
regressor_dp = LinearRegression()
regressor_dp.fit(dp_X, dp_y)

LinearRegression()

In [20]:
regressor_remit= LinearRegression()
regressor_remit.fit(remit_X, remit_y)

LinearRegression()

In [14]:
cdtx_test_new = cdtx_test.iloc[:,1:].values

In [21]:
dp_test_new = dp_test.iloc[:,1:].values

In [22]:
remit_test_new = remit_test.iloc[:,1:].values

In [15]:
cdtx_test_X = cdtx_ct.transform(cdtx_test_new)

In [23]:
dp_test_X = dp_ct.transform(dp_test_new)

In [24]:
remit_test_X = remit_ct.transform(remit_test_new)

In [16]:
cdtx_test_X

<2128x366 sparse matrix of type '<class 'numpy.float64'>'
	with 17017 stored elements in Compressed Sparse Row format>

In [25]:
dp_test_X

<13551x1874 sparse matrix of type '<class 'numpy.float64'>'
	with 200648 stored elements in Compressed Sparse Row format>

In [26]:
remit_test_X

<537x280 sparse matrix of type '<class 'numpy.float64'>'
	with 3759 stored elements in Compressed Sparse Row format>

In [17]:
cdtx_y_pred = regressor_cdtx.predict(cdtx_test_X)
cdtx_y_pred

array([ 0.00016931,  0.000146  , -0.00244603, ...,  0.00361298,
        0.13536221,  0.0312051 ])

In [27]:
dp_y_pred = regressor_dp.predict(dp_test_X)
dp_y_pred

array([0.02388397, 0.02556806, 0.02389254, ..., 0.03376707, 0.00668051,
       0.00660998])

In [29]:
remit_y_pred = regressor_remit.predict(remit_test_X)
remit_y_pred

array([ 4.32079852e-02,  4.32050016e-02,  4.32050449e-02,  4.32078987e-02,
        4.32291725e-02,  4.32029694e-02,  4.32330208e-02,  4.30625709e-02,
        4.24137196e-02,  4.30725159e-02,  4.30710026e-02,  4.30764507e-02,
        4.30770128e-02,  1.47313361e-02,  1.30130865e-02,  1.63563408e-02,
        1.56589748e-02,  1.63341157e-02,  1.41662190e-02,  1.63590649e-02,
        1.23981197e-02,  1.63555193e-02,  3.88458262e-02,  3.88862983e-02,
        1.22772427e-02,  1.07639049e-02,  1.15087046e-02,  1.08058472e-02,
        9.67611579e-03,  1.78847378e-02,  1.74708497e-02,  1.67730081e-02,
        1.54670335e-03,  3.78339404e-03, -6.89987341e-04,  1.77038106e-03,
        2.04680286e-04,  2.34921562e-02,  2.36330736e-02,  2.34915941e-02,
        2.36334195e-02,  2.36275389e-02,  2.35918231e-02,  2.36323385e-02,
        2.35839103e-02,  3.58819254e-02,  3.66356756e-02,  3.15329132e-02,
        3.14790800e-02,  3.14326841e-02,  3.14028056e-02,  3.14594926e-02,
        3.07582783e-02,  3.07527004e-02,  3.07517059e-02,  3.07452199e-02,
        3.13942442e-02,  3.07466901e-02,  3.63936723e-02,  3.63944939e-02,
        3.63854568e-02,  8.28485610e-03,  8.27517047e-03,  3.67871799e-02,
        3.67758944e-02,  3.67673762e-02,  3.67263852e-02,  3.67710948e-02,
        3.67833748e-02,  3.67600255e-02,  3.67573879e-02,  3.67673762e-02,
        3.67115973e-02,  3.67521992e-02,  3.67511614e-02,  3.67584257e-02,
        3.67460159e-02,  1.47279256e-02,  1.46826107e-02,  1.46826107e-02,
        1.46826107e-02,  1.46826107e-02,  1.52715321e-02,  1.47052681e-02,
        1.52715321e-02,  1.52715321e-02,  1.46826107e-02,  1.52715321e-02,
        1.52715321e-02,  2.58716790e-02,  2.91798002e-02,  2.43176528e-02,
        2.82274079e-02,  2.57729200e-02,  3.02037970e-02,  2.82512761e-02,
        3.25734491e-02,  3.25734491e-02,  2.51852526e-02,  2.36482195e-02,
        2.49415982e-02,  2.86783522e-02,  2.99320803e-02,  2.64101399e-02,
        2.58626419e-02,  2.71888393e-02,  2.56319594e-02,  6.15331444e-02,
        6.14953963e-02,  6.14651720e-02,  6.20628278e-02,  5.93174633e-02,
        6.15222913e-02,  3.19299930e-02,  3.19302092e-02,  3.21053290e-02,
        3.19260582e-02,  3.19204803e-02,  3.19151186e-02,  3.19273986e-02,
        3.19044385e-02,  3.19044385e-02,  3.16098480e-02,  3.18962662e-02,
        3.21416069e-02,  3.18589506e-02,  3.21048101e-02,  3.19023630e-02,
        3.18901694e-02,  3.30317895e-02,  2.23709522e-02,  2.23115411e-02,
        2.09878949e-02,  9.46073584e-03,  9.46488683e-03,  9.46173035e-03,
        9.48776050e-03,  1.00886593e-02,  1.01085926e-02,  9.48858205e-03,
        9.47124303e-03,  1.01004636e-02,  1.12720666e-02,  1.27675465e-02,
        1.11157127e-02,  1.01135085e-02,  1.01116492e-02,  1.01116492e-02,
        9.19540512e-03,  1.29965426e-02,  1.27991545e-02,  1.21941913e-02,
        1.11992081e-02,  1.02523937e-02,  1.27306200e-02,  9.04713702e-03,
        8.78934337e-03,  9.44372933e-03,  9.51001542e-03,  8.70835587e-03,
        3.06664045e-02,  3.06523084e-02,  3.05831685e-02,  3.05805309e-02,
        3.06370881e-02,  3.06658856e-02,  3.06102797e-02,  3.06501465e-02,
        1.24390397e-02,  1.26631930e-02,  9.35187208e-03,  9.79339019e-03,
        1.31892875e-02,  8.45560459e-03,  1.10737538e-02,  6.41349146e-03,
        4.33444165e-02,  4.33502538e-02,  4.33479189e-02,  4.25815427e-02,
        4.13202910e-02,  4.31308568e-02,  4.33471838e-02,  4.34778535e-02,
        4.34990408e-02,  4.31514820e-02,  4.33382333e-02,  4.31973159e-02,
        4.31938567e-02,  4.28891050e-02,  4.32472574e-02,  4.35417614e-02,
        4.25865585e-02,  4.31901813e-02,  6.17789837e-02,  6.17414086e-02,
        6.17414086e-02,  6.17437003e-02,  6.17552019e-02,  6.17440029e-02,
        6.17676117e-02,  6.17774703e-02,  6.17597853e-02,  6.17731896e-02,
        3.69813591e-02,  3.69655334e-02,  3.69581827e-02,  3.69415355e-02,
        3.69312013e-02,  3.69508753e-02,  3.69739651e-02,  3.70790370e-02,
        3.70725943e-02,  3.70779128e-02,  3.69425301e-02,  3.70725943e-02,
        3.70618710e-02,  3.70682704e-02,  3.70607900e-02,  3.70459588e-02,
        3.70887227e-02,  3.70747131e-02,  3.71244385e-02,  1.69375180e-02,
        2.05808407e-02,  2.05797165e-02,  2.05801489e-02,  2.05626801e-02,
        2.05625504e-02,  2.05581832e-02, -8.31321356e-03, -8.33509272e-03,
       -7.16278936e-03, -7.65009805e-03, -7.36355016e-03, -7.42525287e-03,
        1.89402032e-02,  1.24971853e-02,  1.15938698e-02,  8.10582930e-03,
        9.55266480e-03,  9.77188886e-03,  9.99111291e-03,  9.55266480e-03,
        2.38319269e-02,  2.38316675e-02,  2.38312783e-02,  2.38333538e-02,
        2.38494389e-02,  2.38362941e-02,  2.38705397e-02,  2.38720964e-02,
        2.35391093e-02,  2.38827765e-02,  2.38829495e-02,  2.38572220e-02,
        2.38645295e-02,  2.73338274e-02,  3.66316711e-04, -8.01926968e-04,
       -8.01926968e-04,  2.17265476e-04,  1.06274610e-04, -8.01926968e-04,
        1.39160133e-02,  1.23965642e-02,  1.51996918e-02,  3.46217334e-02,
        3.39106605e-02,  3.39120874e-02,  3.39102281e-02,  3.39071581e-02,
        3.39078932e-02, -3.25844355e-05, -1.50844353e-04,  1.95590185e-04,
        2.75323746e-04,  2.08475544e-04, -4.50373994e-05,  2.25598369e-04,
        2.82087948e-02,  2.87471693e-02,  2.88142770e-02,  2.88571273e-02,
        2.94309581e-02,  2.95779723e-02,  2.95845879e-02,  2.88408692e-02,
        2.95789236e-02,  2.97241649e-02,  2.97293104e-02,  2.91069216e-02,
        2.97073447e-02,  2.95827286e-02,  2.98684982e-02,  4.92693384e-02,
        3.33651799e-02,  4.00665024e-02,  5.34639923e-02,  5.34674082e-02,
        5.34760993e-02,  5.34784775e-02,  5.34752778e-02,  2.51895415e-02,
        4.49747453e-02,  4.51583833e-02,  3.13254492e-02,  3.13254492e-02,
        3.13254492e-02,  3.13254492e-02,  3.13254492e-02,  3.13254492e-02,
        3.13254492e-02,  3.13254492e-02,  2.40655423e-02,  2.38352922e-02,
        3.88329144e-02,  2.82460842e-02,  7.83447993e-03,  3.16932830e-02,
        3.16932830e-02,  5.30815122e-02,  1.54778226e-02,  2.15677544e-02,
        3.76188150e-02,  3.61766062e-02,  3.61198327e-02,  3.60922460e-02,
        3.61523921e-02,  3.61074230e-02,  3.61173249e-02,  3.59900711e-02,
        2.51807757e-02,  7.63167596e-03, -2.27383687e-02,  2.35820359e-02,
        2.35102584e-02,  6.04534656e-02,  6.00093099e-02,  5.55953881e-02,
        6.02309121e-02,  5.91659242e-02,  6.05575862e-02,  5.91657080e-02,
        5.98443513e-02,  3.79282068e-02,  3.95355472e-02,  3.79951848e-02,
        3.79951848e-02,  3.80174963e-02,  3.80174963e-02,  3.79951848e-02,
       -2.35002638e-03, -2.36628441e-03, -2.35210187e-03,  3.12662871e-02,
        3.76966734e-02,  3.76966734e-02,  3.76966734e-02,  3.76966734e-02,
        3.76966734e-02,  3.76966734e-02,  3.76966734e-02,  3.75626311e-02,
        3.76966734e-02,  3.77815525e-02,  3.54672037e-02,  3.85902601e-02,
        3.76966734e-02,  5.66681359e-03,  4.08001196e-03,  1.70344162e-03,
        2.19096353e-02,  2.18588290e-02,  2.18493163e-02,  2.18553266e-02,
        2.19133107e-02,  4.90057643e-02,  4.90157526e-02,  4.90421286e-02,
        4.90489605e-02,  6.30226698e-02,  6.03601136e-02,  6.03601136e-02,
        6.30226698e-02,  6.30226698e-02,  4.45476999e-02,  4.45476999e-02,
        4.41162566e-02,  4.40547269e-02,  5.54661267e-02,  5.66057026e-02,
        5.50989517e-02,  3.41622362e-02, -2.06398899e-02, -1.96176659e-02,
        4.79843784e-02,  4.79752982e-02,  4.41694218e-03,  3.88721558e-03,
        4.59353213e-03,  2.82780562e-03,  4.86723307e-03,  3.01018965e-03,
       -7.95479156e-03, -7.92919381e-03, -7.95704002e-03,  2.16845359e-02,
        4.22533648e-02,  4.22533648e-02,  4.68217433e-02,  2.65511083e-02,
        2.71209128e-02, -1.91877445e-02,  5.66779234e-03,  5.11579742e-03,
        4.91015056e-03,  2.88750099e-02,  2.90274290e-02,  5.43410758e-02,
        5.43397786e-02,  5.43372275e-02,  5.41109987e-02,  5.43364060e-02,
        5.43400813e-02,  5.43341143e-02,  5.13595184e-02,  5.13595184e-02,
        3.68052152e-02,  3.68071609e-02,  3.68020154e-02,  3.67956160e-02,
        3.70206341e-02,  3.68033126e-02,  3.67861033e-02,  5.44972942e-02,
        5.38283797e-02,  5.24080500e-02,  5.28988611e-02,  5.33514485e-02,
        5.20918399e-02,  5.50932204e-02,  5.53225625e-02,  5.40021159e-02,
        4.96462296e-02,  4.96432028e-02,  4.96442406e-02,  2.99088020e-02,
        3.10215549e-02,  3.10215549e-02,  4.54114544e-02,  4.54114544e-02,
        4.49628018e-02,  4.45141491e-02,  4.47384754e-02,  4.55460588e-02,
        4.54114544e-02,  4.47384754e-02,  9.10292790e-02,  9.10205446e-02,
        5.25976520e-02,  3.02106051e-02,  1.73503115e-02,  2.27145575e-02,
        2.31363584e-02,  2.15984174e-02,  2.21975865e-02,  2.07980982e-02,
        6.35504858e-03,  6.35703760e-03,  6.29706447e-03,  3.08110582e-02,
        2.95061779e-02,  2.85830587e-02,  2.98549473e-02,  5.68686181e-02,
        5.66891311e-02,  5.70032226e-02,  4.45097882e-02,  4.52135536e-02,
        4.52225042e-02,  8.69053375e-02,  2.84490014e-02,  3.26195227e-02,
        3.26219009e-02,  3.26328405e-02,  3.26285598e-02,  3.26210793e-02,
        3.26308947e-02, -1.06401606e-02,  2.30925951e-02,  2.31084208e-02,
        2.28466059e-02,  2.28007288e-02,  2.31269705e-02,  2.80885680e-02,
        2.93699261e-02,  2.93479172e-02,  5.88102487e-02,  2.82563617e-02,
        2.80420498e-02,  2.72802138e-02,  4.40247419e-02,  3.76804442e-02,
        5.05884024e-02,  1.16013911e-02,  4.25327270e-02,  4.25283166e-02,
        2.31734639e-02,  2.44287054e-02,  5.55396607e-02,  5.58013026e-02,
        5.13833251e-02,  5.13037213e-02,  2.07982158e-02,  2.12549109e-02,
        3.12823714e-02,  3.12867819e-02,  6.25353425e-02,  6.25927213e-02,
        2.14346245e-03,  1.25989663e-02,  5.39082513e-02,  5.42426220e-02,
        5.45243427e-02,  1.51273745e-02, -3.58481144e-03,  6.25473381e-03,
       -2.16197271e-02,  9.29507257e-03,  1.53105892e-02,  5.10771298e-02,
        4.96522167e-02,  1.03512105e-02,  1.02048545e-02,  4.75233746e-02,
        4.48050550e-02])

In [18]:
cdtx_ans = pd.DataFrame(cdtx_test['alert_key'])
cdtx_ans['probability'] = cdtx_y_pred
cdtx_ans

      alert_key  probability
0        352291     0.000169
1        352291     0.000146
2        352298    -0.002446
3        352298    -0.002446
4        353041    -0.002446
...         ...          ...
2123     364964     0.004193
2124     364977     0.003615
2125     364977     0.003613
2126     364983     0.135362
2127     364983     0.031205

[2128 rows x 2 columns]

In [30]:
dp_ans = pd.DataFrame(dp_test['alert_key'])
dp_ans['probability'] = dp_y_pred
dp_ans

       alert_key  probability
0         352249     0.023884
1         352249     0.025568
2         352249     0.023893
3         352249     0.004917
4         352249     0.032657
...          ...          ...
13546     364993     0.005991
13547     364993     0.006598
13548     364993     0.033767
13549     364993     0.006681
13550     364993     0.006610

[13551 rows x 2 columns]

In [31]:
remit_ans = pd.DataFrame(remit_test['alert_key'])
remit_ans['probability'] = remit_y_pred
remit_ans

     alert_key  probability
0       352253     0.043208
1       354177     0.043205
2       354569     0.043205
3       355347     0.043208
4       356569     0.043229
..         ...          ...
532     364673     0.049652
533     364753     0.010351
534     364775     0.010205
535     364788     0.047523
536     364993     0.044805

[537 rows x 2 columns]

In [40]:
ans = pd.concat([cdtx_ans,dp_ans,remit_ans])

In [41]:
ans

     alert_key  probability
0       352291     0.000169
1       352291     0.000146
2       352298    -0.002446
3       352298    -0.002446
4       353041    -0.002446
..         ...          ...
532     364673     0.049652
533     364753     0.010351
534     364775     0.010205
535     364788     0.047523
536     364993     0.044805

[16216 rows x 2 columns]

In [42]:
ans['probability'] = ans['probability'].abs()

In [43]:
ans_mean = ans.groupby(['alert_key']).mean()

In [44]:
ans_mean

           probability
alert_key
352249        0.014582
352253        0.040733
352254        0.004613
352280        0.011564
352282        0.012430
...                ...
365001        0.044768
365004        0.007862
365008        0.009119
365009        0.029819
365073        0.015341

[1528 rows x 1 columns]

In [45]:
submit = pd.read_csv('/home/bill/moneylaundring/dataset/submit.csv')

In [48]:
submit['probability']=0

In [51]:
submit

      alert_key  probability
0        357307            0
1        376329            0
2        373644            0
3        357668            0
4        354443            0
...         ...          ...
3845     364485            0
3846     363155            0
3847     368710            0
3848     358067            0
3849     372119            0

[3850 rows x 2 columns]

In [54]:
submit_new = pd.merge(submit, ans_mean, on=['alert_key'],how='left')

In [56]:
submit_new['probability_y'].fillna(0,inplace=True)

In [58]:
submit_final = submit_new.rename(columns={'probability_y':'probability'})

In [60]:
submit_final = submit_final[['alert_key','probability']]

In [62]:
submit_final = submit_final.sort_values(by ='probability', ascending=False)

In [65]:
submit_final

      alert_key  probability
1467     364467     0.328434
341      360833     0.317928
77       355751     0.296979
1410     364223     0.290135
374      356612     0.258303
...         ...          ...
1595     377601     0.000000
1596     369441     0.000000
1599     374756     0.000000
1600     367411     0.000000
3849     372119     0.000000

[3850 rows x 2 columns]

In [64]:
submit_final.to_csv('/home/bill/moneylaundring/contest/submissions/linear_regression_submit.csv')